body {
    background-color: black;
}

h1 {
    color: whitesmoke;
}

#dominoes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dominoes-list li {
    list-style-type: none;
    font-size: 6rem;
    color: rgb(114, 20, 221);
    transition: transform 0.5s;
}

#dominoes-list .selected {
    color: white;
    filter: drop-shadow(0 0 0.25rem yellow);
}

#dominoes-list li:hover {
    transform: scale(1.5);
}

.delete {
    display: none; /* Completely remove from the document flow! */
}

.hidden {
    visibility: hidden; /*Keep element in the document flow, but make it invisible */
}
